body, html {
  font-family: helvetica, arial, "sans serif";  
  }

div {
  margin-bottom: 3em;
}
  
table {
  margin: 0 auto 1em auto;
  border: 1px solid #ccc;
  width: 600px;
}

table td {
  border-right: 5px solid #c00;
  background-color: #ededed;
  margin: 0;
  padding: 0;
}
